body {
    font-family: Arial, sans-serif;
    background-color: #2686e7;
   
    color: white; /* Change text color to white */
}

h1 {
    color: #007bff; /* Change text color to blue */
    text-align: center;
    background-color: #007bff;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    border-radius: 20px;
    padding: 10px; /* Added padding to create space around the heading */
}

table {
    width: 100%;
    background-color: #d80a0a;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #237eda;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #cce5ff;
}

/* Updated button styles */
.btn-remove,
.btn-accept {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.btn-remove {
    background-color: #dc3545;
    color: #fff;
}

.btn-remove:hover {
    background-color: #130507;
}

.btn-accept {
    background-color: #28a745;
    color: #fff;
}

.btn-accept:hover {
    background-color: #218838;
}
